<html xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>



<body>
	<div align="right" th:fragment="header">

		<table>

			<tr sec:authorize="isAuthenticated()" >
				<td width="150">
					<span sec:authentication="principal.username"></span>님
					<form th:action="@{/logout}" method="post"><input type="submit" value="로그아웃" /></form>
				</td>
			</tr>

			<tr sec:authorize="!isAuthenticated()" >
					<td width="80"><a href="/login" th:text="로그인"></a></td>
			</tr>

	</table>
	</div>
</body>
</html>
